.accordion-button::after {
  margin-left: 30px !important;
} 
.accordion-button {
  width: 40% !important;
}
 
.accordion-button:not(.collapsed) {
  color: black !important;
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  border-color: transparent !important;
  box-shadow: none !important;
}
.iconEdit {
  position: relative;
  float: right;
  top: -50px;
  right:80px;
}
.deleteIcon {
  position: relative;
  float: right;
  top: -50px;
  right:10px;
}